<input placeholder="Search..." (keyup)="applyFilter($event)" />
<app-my-button *ngIf="newrow==true" [buttonConfig]="indexnewrow" (click)="emitRowAction('ADD',dato)">
</app-my-button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" [sortable]="head.key" *ngFor="let head of tableConfig.headers" (sort)="onSort($event)">{{head.key}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filterData | pagination:pageinator.currentPage:perpage">
      <td *ngFor="let head of tableConfig.headers">{{convertDate(item[head.key])}}</td>
      <td *ngFor="let action of tableConfig.actions">
        <app-my-button [buttonConfig]="action" (click)="emitRowAction(action.type, item)">
        </app-my-button>
      </td>
    </tr>
  </tbody>
</table>
<app-paginate [page]="data.length" #pageinator [objectperpage]="tableConfig.pagination.itemPerPage" [options]="tableConfig.pagination.itemPerPageOptions" (getobjectperpagechange)="changeTable($event)"></app-paginate>
