<div *ngIf="isAdmin">
  <h1>Tutti i customers</h1>
  <app-mytablenotmaterial [tableConfig]="tableConfigusers" [data]="usersdata" (rowAction)="actionfromtable($event)"></app-mytablenotmaterial>
  <h1>Tutte le prenotazioni</h1>
  <app-mytablenotmaterial [tableConfig]="tableConfigbookings" [data]="bookingsdata" (rowAction)="actionfromtable($event)"></app-mytablenotmaterial>
</div>
<div *ngIf="!isAdmin && isLoggedIn && isCustomer">
  <h1>Le tue prenotazioni</h1>
  <app-mytablenotmaterial [tableConfig]="tableConfiguserbookings" [data]="bookingsuser" (rowAction)="actionfromtable($event)"></app-mytablenotmaterial>
</div>
<app-notification #duegiorni aria-live="polite" aria-atomic="true" text="Non puoi modificare/eliminare una prenotazione che avverrà tra meno di due giorni" title="Errore"></app-notification>
<app-notification #confermaeliminazione aria-live="polite" aria-atomic="true" text="Vuoi davvero eliminare questa prenotazione?" title="Elimina Prenotazione" [config]="btnnewrow.button" (answer)="answerfromnotification($event)"></app-notification>

